* {
	font-family: 'Lato', sans-serif;
}

html,
body {
	height: 98%;
}

body {
	overflow-x: hidden;
	background: #3c3c3c;
}

#conf-wrapper {
	display: block;
	position: relative;
	top: 5px;
	margin: 0 auto;
	text-align: center;
	background: #247cd3;
	color: #FFF;
	width: 50%;
	border-radius: 10px;
	height: auto !important;
	min-height: 98%;
	border: 10px double #FFF;
}

hr{
    border-color:#FFF;
    border-width:1px;
    border-style:solid;
}

.inner-wrapper {
	display: block;
	position: relative;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 95%;
	top: -55px;
}


.input-edit{
    float:none !important;
    clear: none !important;
    font-weight:normal !important;
            width: 90px !important;
}

.text-edit{
    width: 50% !important;
    font-size: 0.8em;
}

.conf-option {
	display: block;
	position: relative;
	width: 60%;
	height: auto;
	background: #003e63;
	border: 1px solid #FFF;
	border-radius: 5px;
	padding: 10px;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: 1.05em;
}

.basisinrichting-items,
.aanvullend-items,
.modules-items,
.overzicht-items{
	display: none;
	padding: 15px;
}

.basisinrichting-items {
	cursor: default;
}

/* Titles in the index */
.titles {
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
        color:#FFF;
	background: #247cd3;
	margin-bottom: 20px;
	cursor: pointer;
	border-radius: 5px;
}

/* Saved blueprint titles */
.blueprint-titles{
        padding-bottom: 30px;
	padding-top: 10px;
	font-weight: bold;  
        color:#FFF;
	background: #247cd3;
	margin-bottom: 20px;
	cursor: pointer;
	border-radius: 5px;
}

a{
        text-decoration:none;
}

.titles:hover,
.blueprint-titles:hover{
	background: #3395f7;
}

.number {
    height: 15px;
    width: 15px;
    background: #FFF;
    border-radius: 50%;
    color: #005f96;
    padding: 5px;
    display: block;
    line-height: 0.7;
    float: left;
    position: relative;
    left: 10px;
    top: -3px;
}

.bereken-btn {
	background: #003e63;
	color: #FFF;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
}

.bereken-btn:hover {
	background: #00568a;
}

.total {
    font-size: 0.75em;
    font-weight: bold;
    position: relative;
    background: #FFF;
    color: #005f96;
    border-radius: 5px;
    padding: 5px;
    cursor: default;
    float: left;
    clear: left;
    bottom: 5px;
}

.blueprint-date{
    float: right;
    clear: right;
    position: relative;
    right: 10px;
}

.blueprint-customer-name{
    font-weight: bold;
    font-size: 1.2em;
    float: left;
    clear: left;
    position: relative;
    left: 15px;
}

.total-monthly{
    font-size: 0.75em;
    font-weight: bold;
    position: relative;
    background: #FFF;
    color: #005f96;
    border-radius: 5px;
    padding: 5px;
    cursor: default;
    float: right;
    clear: right;
    bottom: 5px;
}

.amount-overzicht {
    font-size: 0.8em;
    font-weight: bold;
    position: relative;
    background: #FFF;
    color: #003e63;
    border-radius: 5px;
    padding: 2px;
    cursor: default;
    float: left;
    clear: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 0.5;
}

.overzicht-items{
   padding:10px;
   font-size: 1em;
   cursor: default;
}

.productPrice,
.aanvullendeProductPrice,
.modulesProductPrice{
	font-size: 0.7em;
	font-weight: bold;
	position: relative;
	background: #FFF;
	color: #005f96;
	border-radius: 5px;
	padding: 5px;
	cursor: default;
	float: right;
        clear:right;
	right: -15px;
        top: -23px;
        width: 43px;
}

.amount {
	font-weight: bold;
}

.basis-cb {
	visibility: hidden;
}

h1 {
	cursor: default;
	width: 65%;
	text-align: center;
	color: #FFF;
	margin: 0 auto;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	top: 5px;
	font-size: 1.8em;
	padding-bottom: 25px;
}

label {
	cursor: default;
	font-size: 0.9em;
}

label:hover {
	color: #9bcdff;
}

.conf-logo {
	float: left;
	padding: 10px;
	position: relative;
	top: -15px;
}

/* Float all checkboxes to the right */
input[type="checkbox"] {
	float: right;
	padding: 5px;
	border: 1px solid #FFF;
	height: 15px;
	position: relative;
	right: 10px;
}

input[type="number"] {
	font-size: 0.85em;
	float: left;
        clear:left;
	padding: 5px;
	width: 45px;
	background: inherit;
	border: none;
	color: #FFF;
	font-weight: bold;
	position: relative;
	right: -15px;
	border: 1px dotted #247cd3;
	border-radius: 5px;
        text-align: center;
}

input[type="text"],
input[type="password"]{
    text-align: center;
    color:#FFF;
    background: transparent;
    border: 1px solid #FFF;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin: 5px;
}

.plus{
    color: #003e63;
    background: #FFF;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1;
    cursor: default;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login{
    background: #247cd3;
    color: #FFF;
    border: none;
    padding: 3px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.logout{
    font-size: 1.4em;
    position: relative;
    top: 35px;
    background: #FFF;
    color: #247cd3;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    cursor: pointer;
    float: right;
    clear: right;
    text-decoration: none;
    z-index: 9999;
}
/* Hover state */
.logout:hover,
.savedConf:hover,
.adminArea:hover{
    color:#FFF;
    background:#003e63;
}

.savedConf{
    font-size: 1.4em;
    position: relative;
    top: 25px;
    background: #FFF;
    color: #247cd3;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    cursor: pointer;
    float: right;
    clear: right;
    text-decoration: none;
    z-index: 9999;
}

.adminArea{
    font-size: 1.4em;
    position: relative;
    bottom: -15px;
    background: #FFF;
    color: #247cd3;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    cursor: pointer;
    float: right;
    clear: right;
    text-decoration: none;
    z-index: 9999;
}

.customer-wrapper{
    position: relative;
    top: 10px;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

#customer{
    width: 30%;
}

.arrow-down{
    position: relative;
    float: right;
    right: 10px;
    display: inline-block;
    height: 100% !important;
    vertical-align: middle;
    clear: right;
    top: -3px;
}

.inactive{
    background:#617488;
}
.inactive:hover{
    background:#8193a7;
}

.save,
.saveEdit,
.saveEdittedBlueprint,
.createItem,
.saveItemEdit{
    font-size: 1.4em;
    position: relative;
    background: #FFF;
    color: #247cd3;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    z-index: 9999;
    border: none;
    bottom: 10px;
}

.save:hover,
.saveEdit:hover,
.saveEdittedBlueprint:hover,
.createItem:hover,
.saveItemEdit:hover{
    color:#FFF;
    background:#003e63;
}

/* Hide input */
.no-input{
    visibility: hidden;
}
.whitespace-sm{
    height:25px;
}
.whitespace-md{
    height:50px;
}
.whitespace-lg{
    height:100px;
}

/* SMARTPHONE: PORTRAIT VIEW */
@media screen and (max-width: 1100px){
    
    /*Item font-size */
    .titles{
        font-size: 0.8em;
    }
    
    /* The category number */
    .number {
    height: 10px;
    width: 10px;
    font-size: 1.2em;
    }
    
    /* Customer name */
    .blueprint-customer-name{
        font-size: 0.8em;
    }
    
    /* Arrow down icon */
    .arrow-down{
        width:20px !important;
    }
    
    /* Blueprint date */
    .blueprint-date{
        font-size: 0.8em;
    }
    
    /* Main configuration wrapper */
    #conf-wrapper {
	width: 94%;
    }
    /* Sub configuration wrapper */
    .conf-option {
	font-size: 1em;
	width: 90%;
    }
    /* The title of the application */
    .application-title {
	font-size: 1.4em;
    }
    /* Inner wrapper */
    .inner-wrapper {
	top: 10px;
    }
    
    .logout, .savedConf, .adminArea{
        font-size: 1em;
    }
    /* Item labels */
    label{
        font-size: 0.75em;
    }
    /* Input number styling */
    input[type="number"]{
        right:15px;
    }
    .amount-overzicht{
        line-height: 0.6;
    }
    .application-title{
    font-size: 1.25em;
    }
    
}